{:deps
 {com.lambdaisland/hiccup   {:mvn/version "0.10.51"}
  com.lambdaisland/ornament
  {;; ornament-next with defprop/defrules/import-tokens
   :git/sha "0af129132bfbfeba940705031f83b60250e71dcf"
   :git/url "https://github.com/lambdaisland/ornament.git"}
  com.lambdaisland/kramdown {:local/root "../../../lambdaisland/kramdown"}
  enlive/enlive             {:mvn/version "1.1.6"}
  org.babashka/http-server  {:mvn/version "0.1.13"}
  com.lambdaisland/xml-select {:mvn/version "0.2.5"}}}
