body * {
    font-family: Lato;
}

#cover {
  position: relative;
}
#cover h2 {
  margin: 60px 0 0;
  text-align:center;
  font-size:80px;
  color: #000;
  text-shadow: 1px 2px #f9fcff;
}
#cover p {
  margin: 14px 0 0;
  text-align:center;
  font-style:italic;
  font-size:30px;
  color: #000;
  text-shadow: 1px 1px #f9fcff;
}
#cover p a {
  color: #000;
}

#overlay {
    position: fixed;
    right: 0.5em;
    bottom: 0.8em;
    z-index: 999999;
    font-size: 120%;
    color: #555;
    font-family: 'Lato', serif !important;
}
