body {
	/* font-family: 'PT Serif', georgia, serif;*/
	font-family: 'Fauna One', sans-serif;
	line-height: 40px;
	font-size: 32px;
  background-color: #3e3
}

.step {
  width: 900px;
}

img {
  max-width: 900px;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 120px;
	margin: 20px 0;
	line-height: 130px;
}

h2 {
  font-size: 48px;
	font-weight: 300;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 72px;
	margin: 10px 0;
}
