body {
	font-family: georgia, serif;
	/* font-family: 'Fauna One', sans-serif; */
	font-size: 45px;
	line-height: 1.2em;
  background-color: #A7FF99; /*#3f3;*/
}

.step {
  width: 1000px;
}

img {
  max-width: 900px;
}

h1, h2 {
	font-weight: normal;
}

code {
  font-size: 60%;
}

h1 {
	font-size: 120px;
	margin: 20px 0;
	line-height: 130px;
}

h2 {
  font-size: 48px;
	font-weight: 300;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 72px;
	margin: 10px 0;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.2em;
  padding: 0.1em;
}

.big {
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}

.center {
  text-align: center;
}

form {
  background-color: #efe;
  padding: 1em;
}

.huge {
  font-size: 250px;
}

li p {
  margin: 0.2em 0;
}