body {
  background: url(../assets/b713e1e3f3651ac7ab042ba20b8441e9.png) repeat scroll 0% 0% transparent;
}

body .reveal .slides {
  text-align: left;
  font-family: 'EB Garamond', serif;
}

body .reveal h1, body .reveal h2, body .reveal h3, body .reveal h4 {
  font-family: 'EB Garamond', serif;
}

body .reveal .slides .center {
  text-align: center;
}

body .reveal pre {
  ;;font-size: 120%;
  box-shadow: 0px 0px 0px;
  width: 100%
}

body .hljs {
  background-color: white;
}
