@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond'), url(../assets/56369741b88cf1d1dec7ee00bd0b2da5.ttf) format('truetype');
}
