body {
  background: url(../assets/b713e1e3f3651ac7ab042ba20b8441e9.png) repeat scroll 0% 0% transparent;
}

body .reveal .slides {
  font-size: 180% !important;
  text-align: left;
  font-family: 'EB Garamond', serif;
}

body .reveal h1, body .reveal h2, body .reveal h3, body .reveal h4 {
  font-family: 'EB Garamond', serif;
}

body .reveal .slides .center {
  text-align: center;
}

body .reveal pre {
  font-size: 75%;
  box-shadow: 0px 0px 0px;
  width: 100%
}

body .reveal p {
  font-size: 110%;
  margin-top: 1.5em;
}

body .hljs {
  background-color: white;
}


h1, h2, h3, h4, h5 {
  word-spacing: 0.1em;
  letter-spacing: 0px !important;
}

body .reveal .big {
    font-size: 140%;
}

.img-transducers {
    width: 1000px;
}
