
/*
.hljs-symbol, .hljs-tag { color: #268bd2 !important; }
.hljs-constant, .hljs-title { color: #b58900 !important; }
.hljs-string { color: #2aa198; }
*/

/* .hljs-keyword, .hljs-attribute { color: #859900; } */

/*
.hljs-keyword, .hljs-attribute { color: #667500; }
*/

.slide pre code {
    border: 0;
}

.slide pre {
    margin: 0;
}

@keyframes yellow-fade {
    0% {background: #FFFFD0;}
    100% {background: none;}
}

.highlight-enter {
    animation: yellow-fade 1s ease-in 1;
}

.slide:after {
    content: '';
}
